<div class="container-fluid pt-3">
    <div class="row bg-footer p-5 text-center">
        <div class="col-sm-3 col-12">
            <p class="py-sm-4">2022 Trade View. All Right Reserved</p>
        </div>
        <div class="col-sm-6 col-12 border-start border-end border-4 px-5">
            <p class="py-4">Trade View is It is a long established fact that a reader will be distracted by the readable content of a page</p>
        </div>
        <div class="col-sm-3 col-12">
            <p class="py-sm-4">Privacy notice
                | Terms of use</p>
        </div>
       
      </div>
</div>