<div class="bg-darke  py-5"  id="crypto">
  <div class="container-fluid bg-crypto ">
    <div class="container">
      <div class="row ">
        <div class="col-md-6 col-10">
          <h2 class="fs-2 fw-bold text-white crpto-content">
            New to TradeView? No problem.
          </h2>
          <p class="fs-6 text-white fw-normal des">
            Our resource center will help guide you through the basics of trading
            crypto and how it's changing the way the world thinks about money and
            finance.
          </p>
        </div>
        <div class="col-md-6 col-10">
          <div class="row fw-bold">
            <div class="col-sm-6 col-11 m-1 m-md-0">
              <div class="card pt-3 bg-transparent border text-white">
                <div class="card-body">
                  <h6 class="card-subtitle text fs-5">
                    “ I'm trying to take my crypto investments to the next level“
                  </h6>
                  <div class="d-flex justify-content-between pt-4">
                    <p class="card-text text-pink fs-6">
                      Learn more about cryptocurrency
                    </p>
                    <img
                      src="../../assets/Crypto Market Web Design/arrow.svg"
                      alt=""
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-11 m-1 m-md-0">
              <div class="card pt-3 bg-transparent border text-white">
                <div class="card-body">
                  <h6 class="card-subtitle fs-5">
                    “ I'm trying to take my crypto investments to the next level“
                  </h6>
                  <div class="d-flex justify-content-between pt-4">
                    <p class="card-text text-pink fs-6">
                      Learn more about cryptocurrency
                    </p>
                    <img
                      src="../../assets/Crypto Market Web Design/arrow.svg"
                      alt=""
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  <div class="container">
    <div class="row pt-5">
      <div class="col-md-4 col-12">
        <h2 class="fs-2 text-white">Top Cryptocurrency For You</h2>
      </div>
      <div class="col-md-4 col-6">
        <p class="text-white fs-6 text-md-center">
          70+ cryptocurrencies in minutes. Get started with as little as $5
        </p>
      </div>
      <div class="col-md-4 col-6 text-md-end">
        <a href="">
          <p class="text-pink d-inline-block">See more 70 crypto</p>
  
          <img
            src="../../assets/Crypto Market Web Design/arrow.svg"
            class="px-2"
            alt=""
        /></a>
      </div>
    </div>
    <!-- ################################################ -->
    <div class="row pt-5">
      <div class="col-md-3 col-sm-6 col-12 mt-2">
        <div class="card pt-3 bg-transparent border text-white">
          <div class="d-flex ps-3">
            <div
              class="d-flex alin-item-center"
              style="
                background-image: url(../../assets/Crypto\ Market\ Web\ Design/bitcoin.png);
                width: 50px;
                height: 50px;
              "
            ></div>
            <div class="ps-3">
              <span class="card-text fs-6">Bitcoin (BTC)</span><br />
              <span>$41.670,00</span><br />
              <span class="text-green">-2.54%</span>
            </div>
          </div>
          <div class="text-center py-3">
            <img
              src="../../assets/Crypto Market Web Design/bitcoin-img.png"
              alt=""
              class="w-25"
            />
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-12 mt-2">
        <div class="card pt-3 bg-transparent border text-white">
          <div class="d-flex ps-3">
            <div
              class="d-flex alin-item-center"
              style="
                background-image: url(../../assets/Crypto\ Market\ Web\ Design/b-2.png);
                width: 50px;
                height: 50px;
              "
            ></div>
            <div class="ps-3">
              <span class="card-text fs-6">Ethereum (ETH)</span><br />
              <span>$2,953.79</span><br />
              <span class="text-red">-1.54%</span>
            </div>
          </div>
          <div class="text-center py-3">
            <img
              src="../../assets/Crypto Market Web Design/b-2-img.png"
              alt=""
              class="w-25"
            />
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-12 mt-2">
        <div class="card pt-3 bg-transparent border text-white">
          <div class="d-flex ps-3">
            <div
              class="d-flex alin-item-center"
              style="
                background-image: url(../../assets/Crypto\ Market\ Web\ Design/b-3.png);
                width: 50px;
                height: 50px;
              "
            ></div>
            <div class="ps-3">
              <span class="card-text fs-6">Aeternity (AE)</span><br />
              <span>$1.008</span><br />
              <span class="text-green">2.14%</span>
            </div>
          </div>
          <div class="text-center py-3">
            <img
              src="../../assets/Crypto Market Web Design/b-3-img.png"
              alt=""
              class="w-25"
            />
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-12 mt-2">
        <div class="card pt-3 bg-transparent border text-white">
          <div class="d-flex ps-3">
            <div
              class="d-flex alin-item-center"
              style="
                background-image: url(../../assets/Crypto\ Market\ Web\ Design/b-4.png);
                width: 50px;
                height: 50px;
              "
            ></div>
            <div class="ps-3">
              <span class="card-text fs-6">Cardano (DA)</span><br />
              <span>$2.176</span><br />
              <span class="text-red">-6.36%</span>
            </div>
          </div>
          <div class="text-center py-3">
            <img
              src="../../assets/Crypto Market Web Design/b-4-img.png"
              alt=""
              class="w-25"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-chart></app-chart>