<div class="bg-comodities-end" id="comodities">
  <div class="container py-5" >
    <div class="row text-white">
        <div class="col-12">
            <h1 class="text-center">Market Commodities</h1>
        </div>
        <!-- <div class="py-3">
            <img src="../../assets/Crypto Market Web Design/comodities.png" alt="">
        </div> -->
        <div class="row mt-4">
            <div class="col-12 p-5">
             
               <table class="table text-white">
                <thead>
                  <tr>
                      <th scope="col">Index</th>
                    <th scope="col" class="sm">Current price</th>
                    <th scope="col" class="md">In USD</th>
                    <th scope="col" class="md">24 Hour %</th>
                    <th scope="col" class="text-end ">Chart</th>
                  </tr>
                </thead>
                <tbody>
                  <tr >
                    <th scope="row" class="align-middle"><img src="../../assets/Crypto Market Web Design/comodities-profile.png" alt="" class="d-inline-block"><span class="ps-3">BabyAlien #67</span></th>
                    <td class="align-middle sm">0.0165 ETH</td>
                    <td class="align-middle md">@51,19 USD</td>
                    <td class="align-middle md text-red">-23.23%</td>
                    <td class="text-end"> <img
                        src="../../assets/Crypto Market Web Design/b-2-img.png"
                        alt=""
                        class="w-50"
                      /></td>
                  </tr>
                  <tr >
                    <th scope="row" class="align-middle"><img src="../../assets/Crypto Market Web Design/comodities-profile.png" alt="" class="d-inline-block"><span class="ps-3">BabyAlien #67</span></th>
                    <td class="align-middle sm">0.0165 ETH</td>
                    <td class="align-middle md">@51,19 USD</td>
                    <td class="align-middle md text-green">+25.33%</td>
                    <td class="text-end"> <img
                        src="../../assets/Crypto Market Web Design/bitcoin-img.png"
                        alt=""
                        class="w-50"
                      /></td>
                  </tr>
                  <tr >
                    <th scope="row" class="align-middle"><img src="../../assets/Crypto Market Web Design/comodities-profile.png" alt="" class="d-inline-block"><span class="ps-3">BabyAlien #67</span></th>
                    <td class="align-middle sm">0.0165 ETH</td>
                    <td class="align-middle md">@51,19 USD</td>
                    <td class="align-middle md text-red">-2.54%</td>
                    <td class="text-end"> <img
                        src="../../assets/Crypto Market Web Design/b-4-img.png"
                        alt=""
                        class="w-50"
                      /></td>
                  </tr>
                  <tr >
                    <th scope="row" class="align-middle"><img src="../../assets/Crypto Market Web Design/comodities-profile.png" alt="" class="d-inline-block"><span class="ps-3">BabyAlien #67</span></th>
                    <td class="align-middle sm">0.0165 ETH</td>
                    <td class="align-middle md">@51,19 USD</td>
                    <td class="align-middle md text-green">+25.33%</td>
                    <td class="text-end"> <img
                        src="../../assets/Crypto Market Web Design/bitcoin-img.png"
                        alt=""
                        class="w-50"
                      /></td>
                  </tr>
                  <tr >
                    <th scope="row" class="align-middle"><img src="../../assets/Crypto Market Web Design/comodities-profile.png" alt="" class="d-inline-block"><span class="ps-3">BabyAlien #67</span></th>
                    <td class="align-middle sm">0.0165 ETH</td>
                    <td class="align-middle md">@51,19 USD</td>
                    <td class="align-middle md text-red">+50.77%</td>
                    <td class="text-end"> <img
                        src="../../assets/Crypto Market Web Design/b-2-img.png"
                        alt=""
                        class="w-50"
                      /></td>
                  </tr>
                
                </tbody>
              </table>
        </div>
    </div>
</div>
</div>
<app-indices></app-indices>