.nav-item .nav-link{

    font-style: normal;
    line-height: 22px;
    letter-spacing: 0.3px;
    text-decoration: none;
    color: #fff;
    }
    .nav-item .nav-link:hover , .nav-item .nav-link:focus{
        color: #E1266E;
    }
    .active{
        color:#E1266E !important;
    }
    .pointer{
        cursor: pointer;
    }
    .fa{
        position: absolute;
        cursor: pointer;
        top: 22%;
        right: 7%;
      }
    