<div class="bg-darke text-white" id="pricing">
  <div class="container py-5" >
    <div class="row">
      <div class="col-12">
        <h2 class="fs-3 text-center text-white">
          The Right Plan for Your Business
        </h2>
      </div>
      <div class="col-md-5 col mx-auto">
        <p class="des fs-6 text-center text-white">
          We have several powerful plans to showcase your business and get
          discovered as a creative entrepreneurs. Everything you need.
        </p>
      </div>
    </div>
    <div class="row pt">
      <div class="d-flex justify-content-center flex-wrap">
        <div class="col-lg-3 col-md-3 col-9 m-sm-3">
          <div class="card text-white mb-3 around-card other-card">
            <div class="pt-3 ps-3 text-white fs-5 fw-bold">Base</div>
            <div class="container mt-3 card-content p-3">
              <div class="row">
                <div class="col-1 pt-2">
                  <img
                    src="../../assets/Crypto Market Web Design/correct.svg"
                    alt=""
                    class="box"
                  />
                </div>
                <div class="col-10"><p>Upload Video with HD Resolution</p></div>
              </div>
              <div class="row">
                <div class="col-1 pt-2">
                  <img
                    src="../../assets/Crypto Market Web Design/correct.svg"
                    alt=""
                    class="box"
                  />
                </div>
                <div class="col-10"><p>Attachment & Post Schedulin</p></div>
              </div>
              <div class="row disabled">
                <div class="col-1 pt-2">
                  <img
                    src="../../assets/Crypto Market Web Design/correct.svg"
                    alt=""
                    class="box"
                  />
                </div>
                <div class="col-10"><p>Set your rates</p></div>
              </div>
              <div class="row disabled">
                <div class="col-1 pt-2">
                  <img
                    src="../../assets/Crypto Market Web Design/correct.svg"
                    alt=""
                    class="box"
                  />
                </div>
                <div class="col-10"><p>Exclusive Deals</p></div>
              </div>
              <div class="row disabled">
                <div class="col-1 pt-2">
                  <img
                    src="../../assets/Crypto Market Web Design/cross.svg"
                    class="disabled1"
                    class="box"
                    alt=""
                  />
                </div>
                <div class="col-10"><p>Exclusive Deals</p></div>
              </div>
              <div class="ps-1">
                <h3 class="fw-bold">$123 <sub class="fs-6">/month</sub></h3>
              </div>
              <div class="row">
                <button
                  class="btn-other-card btn choose-btn col-10 mx-auto mt-1 mb-4"
                >
                  Try 1 month
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-9">
          <div class="card  mb-3 center-card bg-pink" style="color:#FAFAFA">
            <div class="d-flex justify-content-between">
              <div class="pt-3 ps-3  fs-5 fw-bold">Pro</div>
              <div class="pt-3 pe-3">
                <button class="btn-center-card btn p-1 py-0" style="background-color: #FAFAFA;">
                  save $40
                </button>
              </div>
            </div>
            <div class="container mt-3 p-3 card-content">
              <div class="row">
                <div class="col-1 pt-2">
                  <img
                    src="../../assets/Crypto Market Web Design/correct.svg"
                    alt=""
                  />
                </div>
                <div class="col-10"><p>Upload Video with HD Resolution</p></div>
              </div>
              <div class="row">
                <div class="col-1 pt-2">
                  <img
                    src="../../assets/Crypto Market Web Design/correct.svg"
                    alt=""
                  />
                </div>
                <div class="col-10"><p>Attachment & Post Schedulin</p></div>
              </div>
              <div class="row">
                <div class="col-1 pt-2">
                  <img
                    src="../../assets/Crypto Market Web Design/correct.svg"
                    alt=""
                  />
                </div>
                <div class="col-10"><p>Set your rates</p></div>
              </div>
              <div class="row">
                <div class="col-1 pt-2">
                  <img
                    src="../../assets/Crypto Market Web Design/correct.svg"
                    alt=""
                  />
                </div>
                <div class="col-10"><p>Exclusive Deals</p></div>
              </div>
              <div class="row disabled">
                <div class="col-1 pt-2">
                  <img
                    src="../../assets/Crypto Market Web Design/cross.svg"
                    class="disabled1"
                    alt=""
                  />
                </div>
                <div class="col-10"><p>Advanced Statistics</p></div>
              </div>
              <div class="ps-1">
                <h3 class="fw-bold">$123 <sub class="fs-6">/month</sub></h3>
              </div>
              <div class="row">
                <button
                  class="btn-center-card text-pink btn trial-btn col-10 mx-auto mt-1 mb-4" style="background-color: #FAFAFA;"
                >
                  Try 1 month
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-9 m-sm-3">
          <div class="card text-white mb-3 around-card other-card">
            <div class="pt-3 ps-3 text-white fs-5 fw-bold">Enterprise</div>
            <div class="container mt-3 p-3 card-content">
              <div class="row">
                <div class="col-1 pt-2">
                  <img
                    src="../../assets/Crypto Market Web Design/correct.svg"
                    alt=""
                    class="box"
                  />
                </div>
                <div class="col-10"><p>Upload Video with HD Resolution</p></div>
              </div>
              <div class="row">
                <div class="col-1 pt-2">
                  <img
                    src="../../assets/Crypto Market Web Design/correct.svg"
                    alt=""
                    class="box"
                  />
                </div>
                <div class="col-10"><p>Attachment & Post Schedulin</p></div>
              </div>
              <div class="row">
                <div class="col-1 pt-2">
                  <img
                    src="../../assets/Crypto Market Web Design/correct.svg"
                    alt=""
                    class="box"
                  />
                </div>
                <div class="col-10"><p>Set your rates</p></div>
              </div>
              <div class="row">
                <div class="col-1 pt-2">
                  <img
                    src="../../assets/Crypto Market Web Design/correct.svg"
                    alt=""
                    class="box"
                  />
                </div>
                <div class="col-10"><p>Exclusive Deals</p></div>
              </div>
              <div class="row">
                <div class="col-1 pt-2">
                  <img
                    src="../../assets/Crypto Market Web Design/cross.svg"
                    class="disabled1"
                    class="box"
                    alt=""
                  />
                </div>
                <div class="col-10"><p>Exclusive Deals</p></div>
              </div>
              <div class="ps-1">
                <h3 class="fw-bold">$123 <sub class="fs-6">/month</sub></h3>
              </div>
              <div class="row">
                <button
                  class="btn-other-card  btn choose-btn col-10 mx-auto mt-1 mb-4"
                >
                  Try 1 month
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-crypto></app-crypto>  