<div class="bg-header" id="home">
  <div class="container  py-5" >
    <div class="row">
      <div class="col-md-4 col-12 text-white pt-5 ps-3">
        <h1 class="fs-2 fw-bold heading">
          The World's Most Reliabel Sources For Trading And Investement
        </h1>
        <p class="fs-6 des">
          Sign up today to get data and updates for your trading with Trade view
        </p>
        <button class="btn btn-bg px-3 mt-4">Get Started</button>
      </div>
      <div class="col-md-8 col-12">
        <img
          src="../../assets/Crypto Market Web Design/section-1.png"
          class="w-100"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
<app-pricing></app-pricing>  